_site
.sass-cache
.jekyll-cache
.jekyll-metadata
assets/ijhs_potentials/
vendor
.DS_Store
**/.*.swp
**/*~
**/*~.*
# Ignore all IJHS PDFs (about 1.6GB in total)
assets/ijhs/*
assets/ijhs_potentials

# ignore tmp/* files
tmp/*

# BFG Repo-Cleaner report files
.git.bfg-report/

# VS Code specific files
.vscode/
*.code-workspace


!assets/cached_papers/rni/*
assets/cached_papers/rni/*.zip
zip_contents.txt
assets/cached_papers/rni/index.html
assets/cached_papers/rni/index.md
tmp_unzip/*
