@use "sass:color";
@use "sass:math";

// Define defaults for each variable.

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #2a7ae2 !default;

$grey-color:       #828282 !default;
$grey-color-light: color.adjust($grey-color, $lightness: 40%) !default;
$grey-color-dark:  color.adjust($grey-color, $lightness: -25%) !default;
$brand-color-dark: color.adjust($brand-color, $lightness: -15%) !default;
$text-color-light: color.adjust($text-color, $lightness: 18%) !default;
$grey-color-lighter: color.adjust($grey-color-light, $lightness: 6%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Vertical rhythm placeholder
 */
%vertical-rhythm {
  margin-bottom: calc(var(--spacing-unit) / 2);
}
